* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__link {
  padding: 0.5em;
  font-size: 1.2em;
  color: chocolate;
}

.nav__link:hover {
  opacity: 0.5;
}
